{
  "clientId": "your-client-id",
  "clientSecret": "your-client-secret",
  "accessToken": "your-access-token",
  "refreshToken": "your-refresh-token",
  "expiresAt": "2026-04-15T16:56:22.923Z",
  "authMethod": "IdC",
  "idcRegion": "us-east-1"
}
